*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    margin: 0px;
    background-color: #2F4F30;
    color: #fff;
    overflow: hidden;
}


.title{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px;
    font-size: 25px;
}

.card{
    display: inline-block;
    position: relative;
    width: 150px;
    left:100px;
    margin-left: -75px;
}

#player-cards,
#computer-cards{
    height: 25vh;
}
.player-score,
.computer-score{
    display: inline-block;
    font-size: 25px;
}
